<h1>Deliverables</h1>
<section id ="deliverables">

  <!--Current Process Flow-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">Current Process Flow</p>
      <img src="./assets/images/deliverables/current-process-flow.webp" alt="Current Process Flow">
  </div>

  <!--Solution Process Flow-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">Solution Process Flow</p>
      <img src="./assets/images/deliverables/solution-process-flow.png" alt="Solution Process Flow">
  </div>

  <!--Major Functional Components Diagram-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">Major Functional Components</p>
      <img src="./assets/images/deliverables/mfcd.png" alt="MFCD">
  </div>

  <!--Work Breakdown Structure-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS</p>
    <img src="./assets/images/deliverables/wbs.png" alt="Work Breakdown Structure">
  </div>

  <!--WBS - User Interface-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS - User Interface</p>
    <img src="./assets/images/deliverables/wbs-user-interface.png" alt="wbs user interface">
  </div>

  <!--WBS - External Integration-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS - External Integration</p>
    <img src="./assets/images/deliverables/wbs-external-int.png" alt="WBS - External Integration">
  </div>

  <!--WBS Algorithms-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS - Algorithms</p>
    <img src="./assets/images/deliverables/wbs-algo.png" alt="Work Breakdown Structure">
  </div>

  <!--WBS Database Management-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS - Data Management</p>
    <img src="./assets/images/deliverables/wbs-data-management.png" alt="WBS - Database Management">
  </div>

  <!--WBS Testing-->
  <div class="deliverable-section-1 deliverable-image">
    <p class="deliverable-title">WBS - Testing</p>
    <img src="./assets/images/deliverables/wbs-testing.png" alt="WBS - Testing">
  </div>

  <!--Development Tools-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Development Tools</p>
    <img src="./assets/images/deliverables/dev-tools-prototype.png" alt="Development Tools">
  </div>

  <!--Competition Matrix-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Competition Matrix</p>
    <img src="./assets/images/deliverables/competition-matrix.webp" alt="Competition Matrix">
  </div>

  <!--Database Schema-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Database Schema</p>
    <img src="./assets/images/deliverables/database-schema.png" alt="Database Schema">
  </div>

  <!--Database Management-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Database Managment</p>
    <img src="./assets/images/deliverables/database-schema-2.png" alt="Database Managment">
  </div>

  <!--Financial Data Analysis Algorithm-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Finanacial Data Algorithm</p>
    <img src="./assets/images/deliverables/fin-data-algo.png" alt="Finanacial Data Algorithm">
  </div>

  <!--Debt Creation Algorithm-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Debt Creation Algorithm</p>
    <img src="./assets/images/deliverables/debt-creation-algo.png" alt="Debt Creation Algorithm">
  </div>

  <!--Budget Creation Algorithm-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Budget Creation Algorithm</p>
    <img src="./assets/images/deliverables/budget-creation.png" alt="Budget Creation Algorithm">
  </div>

  <!--What-If Analysis Algorithm-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">What-If Analysis Algorithm</p>
    <img src="./assets/images/deliverables/what-if-algo.png" alt="What-If Analysis Algorithm">
  </div>

  <!--Dashboard-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Dashboard Mockup</p>
    <img src="./assets/images/deliverables/dashboard.webp" alt="Dashboard Mockup">
  </div>

  <!--Debt Management-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Debt Management Mockup</p>
    <img src="./assets/images/deliverables/debt.webp" alt="Debt Management Mockup">
  </div>

  <!--Budget Creation-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Budget Creation Mockup</p>
    <img src="./assets/images/deliverables/budget.webp" alt="Budget Creation Mockup">
  </div>

  <!--What-If Analysis-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">What-If Analysis Mockup</p>
    <img src="./assets/images/deliverables/what-if.webp" alt="What-If Mockup">
  </div>

  <!--Account/Profile-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Profile Mockup</p>
    <img src="./assets/images/deliverables/account.webp" alt="Profile Mockup">
  </div>

  <!--Community/Leaderboard-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Leaderboard Mockup</p>
    <img src="./assets/images/deliverables/leaderboard.webp" alt="Leaderboard Mockup">
  </div>

  <!--Financial Partner-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Financial Partner Mockup</p>
    <img src="./assets/images/deliverables/partner-dashboard.webp" alt="Financial Partner Mockup">
  </div>

  <!--Educator Account Mockup-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Educator Mockup</p>
    <img src="./assets/images/deliverables/educator.webp" alt="Educator Mockup">
  </div>

  <!--User Risk-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">User Risk</p>
    <img src="./assets/images/deliverables/user-risk.png" alt="User Risk">
  </div>

  <!--Technical Risk-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Technical Risk</p>
    <img src="./assets/images/deliverables/technical-risk.png" alt="Technical Risk">
  </div>

  <!--Security Risk-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Security Risk</p>
    <img src="./assets/images/deliverables/security-risk.png" alt="Security Risk">
  </div>
  
  <!--Legal Risk-->
  <div class="deliverable-section-2 deliverable-image">
    <p class="deliverable-title">Legal Risk</p>
    <img src="./assets/images/deliverables/legal-risk.png" alt="Legal Risk">
  </div>

  <!--LIGHTBOX-->
  <div class="lightbox" id="lightbox">
    <button class="close-button">&times;</button>
    <img src="" alt="lightbox image">
  </div>
</section>