<section id="glossary" class="document-block">
    <h2>Glossary</h2>

    <ol>
      <!--Entry 1-->
      <li>
        <Strong>Annual Inflation Rate:</Strong> The percentage increase in the cost of goods over the course of a year.
      </li>

      <!--Entry 2-->
      <li>
        <Strong>APR (Annual Percentage Rate):</Strong> The annual rate charged for borrowing money
        as a percentage of the total borrowed amount. 
      </li>

       <!--Entry 3-->
      <li>
        <Strong>Credit Score:</Strong> A three-digit number that reflects an individual’s creditworthiness based on their credit 
        history, influencing lenders' decisions on loan approvals and interest rates.
      </li>
      
      <!--Entry 4-->
      <li>
        <Strong>Debt:</Strong> Money that is borrowed and must be repaid, typically with interest.
      </li>

      <!--Entry 5-->
      <li>
        <strong>Financial Literacy:</strong> A strong understanding of essential financial
         skills and concepts, such as budgeting, saving, and debt management.
      </li>

      <!--Entry 6-->
      <li>
        <strong>Financial Management:</strong> The process of budgeting, saving, and monitoring
        personal finances to achieve one's financial goals.
      </li>

      <!--Entry 7-->
      <li>
        <Strong>Financial Uncertainty:</Strong> The fear or concern about one's
        financial situation, often relating to income, debt, or future stability.
       </li>

      <!--Entry 8-->
      <li>
        <Strong>Student Loans:</Strong> Money borrowed by an individual for educational
         purposes (for tuition, transportation, textbooks, etc.) which must be repaid with interest.
      </li>

       <!--Entry 9-->
      <li>
        <strong>"What-if" Analysis:</strong> A technique that allows users to simulate various (financial) scenarios 
        and visualize their potential outcomes.
      </li>

      <!--Entry 10-->
      <li>
        <strong>Young Adults:</strong> Individuals between the ages of 18 to 34 
        who are in the workforce and have limited experience with personal finances.
      </li>
      
      <!--Entry 11-->
      <li>
        <Strong>Young Professionals:</Strong> Young adults aged 18-34 who are in the workforce,
         in college, or have recently graduated.
      </li>

    </ol>
  </section>