<section id="labs" class="document-block">
    <h2>Lab 1</h2>
        <ul class="lab-grid">
            <!-- Place ./assets/pdf/labs/your-lab-name.pdf into the link -->
            <li><a href="./assets/pdf/labs/lab1_finished.pdf" download="Darrick's-Lab.pdf">Darrick</a></li>
            <li><a href="./assets/pdf/labs/BN_Lab1_Final.pdf" download="Brian's-Lab.pdf">Brian</a></li>
            <li><a href="./assets/pdf/labs/Bryce_Version1.pdf" download="Bryce's-Lab.pdf">Bryce</a></li>
            <li><a href="./assets/pdf/labs/Erika_Lab_1_Draft_3.pdf" download="Erika's-Lab.pdf">Erika</a></li>
            <li><a href="./assets/pdf/labs/JM_Lab1_Final_Clean.pdf" download="Josh's-Lab.pdf">Josh</a></li>
            <li><a href="./assets/pdf/labs/Lab 1 Draft Section 2.pdf" download="Smit's-Lab.pdf">Smit</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Indi's-Lab.pdf">Indi</a></li>
        </ul>
    <h2>Lab 2</h2>
        <ul class = "lab-grid">
            <li><a href="./assets/pdf/labs/lab2_version1_DA.pdf" download="Darrick's-Lab.pdf">Darrick</a></li>
            <li><a href="./assets/pdf/labs/BN_Lab2_V1.pdf" download="Brian's-Lab.pdf">Brian</a></li>
            <li><a href="./assets/pdf/labs/Bryce_Version1.pdf" download="Bryce's-Lab.pdf">Bryce</a></li>
            <li><a href="./assets/pdf/labs/ErikaLab2section1-2.pdf" download="Erika's-Lab.pdf">Erika</a></li>
            <li><a href="./assets/pdf/labs/JM_Lab2_V2_Clean.pdf" download="Josh's-Lab.pdf">Josh</a></li>
            <li><a href="./assets/pdf/labs/Lab_ 2_ Section_1.pdf" download="Smit's-Lab.pdf">Smit</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Indi's-Lab.pdf">Indi</a></li>
        </ul>
</section>
