<section id="labs" class="document-block">
    <h2>Labs</h2>
        <ul class="lab-grid">
            <!-- Place ./assets/pdf/labs/your-lab-name.pdf into the link -->
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Darrick's-Lab.pdf">Darrick</a></li>
            <li><a href="./assets/pdf/labs/BN_Lab1_Draft1.pdf" download="Brian's-Lab.pdf">Brian</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Bryce's-Lab.pdf">Bryce</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Erika's-Lab.pdf">Erika</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Josh's-Lab.pdf">Josh</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Smit's-Lab.pdf">Smit</a></li>
            <li><a href="./assets/pdf/labs/placeholder.pdf" download="Indi's-Lab.pdf">Indi</a></li>
        </ul>
</section>