<nav>
    <ul class="nav-bar">

      <!--Home-->
      <li><a href="#">Home</a></li>

      <!--About-->
      <li>
        <a href="#problem-statement">About</a>
        <ul class="dropdown">
          <li><a href="#problem-statement">The Problem</a></li>
          <li><a href="#solution-statement">The Solution</a></li>
          <li><a href="#team-section">The Team</a></li>
        </ul>
      </li>

      <!--Presentations-->
      <li>
        <a href="#google-slides">Presentations</a>
        <ul class="dropdown">
          <li><a href="#feasibility-1">Feasibility 1</a></li>
          <li><a href="#feasibility-2">Feasibility 2</a></li>
          <li><a href="#feasibility-3">Feasibility 3</a></li>
          <li><a href="#final-feasibility">Final Feasibility</a></li>
          <li><a href="#design-1">Design 1</a></li>
          <li><a href="#design-2">Design 2</a></li>
          <li><a href="#design-3">Design 3</a></li>
          <li><a href="#design-4">Design 4</a></li>
          <li><a href="#final-design">Final Design</a></li>
        </ul>
      </li>

      <!--Deliverables-->
      <li><a href="#deliverables">Deliverables</a></li>

      <!--Labs-->
      <li><a href="#labs">Labs</a>
        <ul class="dropdown">
          <li><a href="#placeholder">Darrick's Lab</a></li>
          <li><a href="#BN_Lab1_Draft1">Brian's Lab</a></li>
          <li><a href="#placeholder">Bryce's Lab</a></li>
          <li><a href="#placeholder">Erika's Lab</a></li>
          <li><a href="#placeholder">Josh's Lab</a></li>
          <li><a href="#placeholder">Smit's Lab</a></li>
          <li><a href="#placeholder">Indi's Lab</a></li>
        </ul>
      </li>
      

      <!--Glossary Section-->
      <li><a href="#glossary">Glossary</a></li>

      <!--References Section-->
      <li><a href="#references">References</a></li>

    </ul>
  </nav>