<section id="google-slides" class="restricted-width">
    <h1>Presentations</h1>

    <!--Carousel for Presentation Slides-->
    <div class="carousel">

      <!--Feasibility 1 Slide-->
      <div id="feasibility-1" class="slide">
        <h2>Feasibility 1</h2>

        <!--PDF Download Link for Feasibility 1-->
        <a href="./assets/pdf/presntations/feasibility-1.pdf" download="feasibility-1.pdf">Download Feasibility-1.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/14EV9t-ML2qn7bMKBXpXU3QRP4RzRVhHBQlDXNW9LKe0/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Feasibility 2 Slide-->
      <div id="feasibility-2" class="slide">
        <h2>Feasibility 2</h2>

        <!--PDF Download Link for Feasibility 2-->
        <a href="./assets/pdf/presentations/feasibility-2.pdf" download="feasibility-2.pdf">Download feasibility-2.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vT8jnOdu0sk3YKkhcM3FaZNAZAAvVH7xGw2uyjP-wgNHbuV1KaLUhJJKZGC9Nh6wYNgsXRsILgnlIeS/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Feasibility 3 Slide-->
      <div id="feasibility-3" class="slide">
        <h2>Feasibility 3</h2>

        <!--PDF Download Link for Feasibility 3-->
        <a href="./assets/pdf/presentations/feasibility-3.pdf" download="feasibility-3.pdf">Download feasibility-3.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vSHAPNj3nlat93OxzE_IaVYeSHbqlI0LvjyWYz-gZ5Cwsb2Wag3MVHHNJwE5t6nQC6CvxyDRL3mEy4d/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Final Feasibility Slide-->
      <div id="final-feasibility" class="slide">
        <h2>Final Feasibility</h2>

        <!--PDF Download Link for Final Feasibility-->
        <a href="./assets/pdf/presentations/final-feasibility.pdf" download="final-feasibility.pdf">Download final-feasibility.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vRz5YXGWOFOrLctIxDxrAgLV7eeTce8oM9Dtdos3o25DepZqda4wlH6pZ2IHuNAWuy-4USWpZvH4Pkp/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Design 1 Slide-->
      <div id="design-1" class="slide">
        <h2>Design 1</h2>

        <!--PDF Download Link for Design 1-->
        <a href="./assets/pdf/presentations/design-1.pdf" download="design-1.pdf">Download design-1.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vTLyLNXAeUsc05nLQVqNijG07mJuTWTZKUHiAImo-S9XJ1B6dVv-SGBUfN2VLg_1UGjCE3vygCJXt4n/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Design 2 Slide-->
      <div id="design-2" class="slide">
        <h2>Design 2</h2>

        <!--PDF Download Link for Design 2-->
        <a href="./assets/pdf/presentations/design-2.pdf" download="design-2.pdf">Download design-2.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vTLyLNXAeUsc05nLQVqNijG07mJuTWTZKUHiAImo-S9XJ1B6dVv-SGBUfN2VLg_1UGjCE3vygCJXt4n/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Design 3 Slide-->
      <div id="design-3" class="slide">
        <h2>Design 3</h2>

        <!--PDF Download Link for Design 3-->
        <a href="./assets/pdf/presentations/design-3.pdf" download="design-3.pdf">Download design-3.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vQ5OPKcF9jFa7WeBh-fIhXCqsof7H-OYCoYFrS2uIwM0-_bnktFCutwc514lVk-_V31zBxG_AwVp0Dm/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Design 4 Slide-->
      <div id="design-4" class="slide">
        <h2>Design 4</h2>

        <!--PDF Download Link for Design 4-->
        <a href="./assets/pdf/presentations/design-4.pdf" download="design-4.pdf">Download design-4.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vQATsxYrZ1JBUIacjKC9Y5hudoPSoBG6Lh4u_3BUUb3Va948CFyNrFLnTfHPp0HZ4uzHxURip3LpLZb/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

      <!--Final Design Slide-->
      <div id="final-design" class="slide">
        <h2>Final Design</h2>

        <!--PDF Download Link for Final Design-->
        <a href="./assets/pdf/presentations/final-design.pdf" download="final-design.pdf">Download final-design.pdf</a>

        <div class="iframe-container" data-src="https://docs.google.com/presentation/d/e/2PACX-1vRh16-DPtffcPx42kA7NnvS4g3IHzipWodqAzzq-GTalJeWKXoP46XjPjS8e_vpY47SQa6HZ3z_ZI17/embed?start=false&loop=false&delayms=3000">
          <div class="placeholder">Loading...</div>
        </div>
      </div>

    </div>

    <!--Navigation Indicators for The Carousel-->
    <div class="carousel-nav">
      <a href="#feasibility-1"></a>
      <a href="#feasibility-2"></a>
      <a href="#feasibility-3"></a>
      <a href="#final-feasibility"></a>
      <a href="#design-1"></a>
      <a href="#design-2"></a>
      <a href="#design-3"></a>
      <a href="#design-4"></a>
      <a href="#final-design"></a>
    </div>
  </section>