<section id="problem-statement" class="content-section image-text">

    <!--Section Content Wrapper-->
    <div class="section-content">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/problem-char-img.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h1>Our Problem Statement</h1>
        <p>Many young adults in the U.S. struggle with their finances
           due to the overwhelming burden of student loans,
            ever increasing credit rates,
             and a lack of experience with crucial financial skills.</p>
        <p>
          Balancing the pressures of starting a career while facing financial uncertainty leads to the accumulation of debt,
           increased anxiety, and delayed life milestones such as marriage,
            home ownership, and starting a family.
        </p>
        <p>
          CreditTrax aims to empower young adults with personalized budgeting and debt management tools designed to simplify
           financial decisions, enhance financial literacy, and set them back on track for financial success.
        </p>

      </div>
    </div>
  </section>