<!-- Problem Statement Section -->
<section id="problem-statement" class="content-section image-text">

  <!--Section Content Wrapper-->
  <div class="section-content">

    <!--Image Content-->
    <div class="image-content">
      <img src="./assets/images/main-content/problem-char-img.webp">
    </div>

    <!--Text Content-->
    <div class="text-content">
      <h1>Our Problem Statement</h1>
      <p>Many young adults in the U.S. struggle with their finances
          due to the overwhelming burden of student loans,
          ever increasing credit rates,
            and a lack of experience with crucial financial skills.</p>
      <p>
        Balancing the pressures of starting a career while facing financial uncertainty leads to the accumulation of debt,
          increased anxiety, and delayed life milestones such as marriage,
          home ownership, and starting a family.
      </p>
      <p>
        CreditTrax aims to empower young adults with personalized budgeting and debt management tools designed to simplify
          financial decisions, enhance financial literacy, and set them back on track for financial success.
      </p>

    </div>
  </div>
</section>

<!-- Problem Characteristics Section -->
<section id="problem-char" class="content-section feature-section">
  <h1>Problem Characteristics</h1>

  <!--Section Content Wrapper-->
  <div class="section-content">

    <!--Image Text Block 1-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/prob-char-img-2.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>Financial Literacy</h2>
        <p>A lack of financial literacy contributes to growing debt and confusion for young adults, including:</p>
        <ul>
          <li>Difficulty creating a realistic budget.</li>
          <li>Uncertainty about where their money is going.</li>
          <li>Struggles with prioritizing expenses.</li>
          <li>Lack of understanding about how late payments affect their financial future.</li>
        </ul>
      </div>
    </div>

    <!--Image Text Block 2-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/prob-char-img-3.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>A Lack of Options</h2>
        <p>A Lack of well-rounded financial options results in issues such as:</p>
        <ul>
          <li>Relying on multiple seperate financial apps to manage finances.</li>
          <li>Increased difficulty staying organized, making financial management harder than it should be.</li>
          <li>A blurred vision of long-term financial goals.</li>
        </ul>
      </div>
    </div>

    <!--Image Text Block 3-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/problem-char-img-3.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>Forgotten Payments</h2>
        <p>Forgotten monthly payments lead to a range of life-altering issues, including:</p>
        <ul>
          <li>Rising interest rates.</li>
          <li>Late fees and penalties.</li>
          <li>A declining credit score.</li>
          <ul>
            <li>Difficulty making significant purchases.</li>
          </ul>
          <li>Additional time required to pay off debt.</li>
          <li>Negative impacts on physical and mental health.</li>
        </ul>
      </div>

    </div>

  </div>
</section>

<!-- Solution Statement Section -->
<section id="solution-statement" class="content-section image-text">

  <!--Section Content Wrapper-->
  <div class="section-content">

    <!--Image Content-->
    <div class="image-content">
      <img src="./assets/images/main-content/solution-statement-img.webp">
    </div>

    <!--Text Content-->
    <div class="text-content">
      <h1>The Solution: CreditTrax</h1>
      <P>CreditTrax leverages AI-powered budgeting through personalized financial 
        dashboards and interactive tools to help users align their spending with 
        long-term financial goals while making smarter financial decisions.
      </P>
      <P>By analyzing spending habits, sending real-time notifications, 
        and offering comprehensive financial literacy tools, CreditTrax enables 
        young adults to achieve their financial objectives, track their 
        progress, and reduce the stress and anxiety that often comes with managing debt.
    </P>
    </div>

  </div>
</section>

<!-- Solution Characteristics Section -->
<section id="solution-char" class="content-section feature-section">
  <h1>How CreditTrax Will Help</h1>

  <!--Section Content Wrapper-->
  <div class="section-content">

    <!--Image Text Block 1-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/solution-char-img-2.webp" alt="Debt-Tracking">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>Debt Tracking</h2>
        <p>CreditTrax provides users with a clear and organized view of their financial obligations. 
          Empowering them to take control over their debt.</p>
        <ul>
          <li><strong>All Your Debts in One Place:</strong> Keep track of all your debts conviently in one app.</li>
          <li><strong>Input Your Debts:</strong> Easily add credit card balances, student loans, interest rates, and due dates.</li>
          <li><strong>Smart Payment Reminders:</strong> Receive timely manual payment prompts, with increasing reminders to ensure you never miss a due date.</li>
        </ul>
      </div>
    </div>

    <!--Image Text Block 2-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/solution-char-img-1.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>Budgeting Recommendations</h2>
        <p>CreditTrax provides helpful suggestions and tips to keep you on track for financial sucess!</p>
        <ul>
          <li><strong>AI-Powered Guidance:</strong> Receive personalized recommendations based on your unique debt and spending habits.</li>
          <li><strong>Tailored Suggestions:</strong> Analyzes your income, expenses, and debt obligations for optimized budgeting advice.</li>
          <li><strong>Smart Spending:</strong> Learn where unnecessary expenses are coming from so you can better fund a succesful future.</li>
        </ul>
      </div>
    </div>

    <!--Image Text Block 3-->
    <div class="image-text-block">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/solution-char-img-3.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h2>Personal Finance Dashboard</h2>
        <p>CreditTrax provides a clear window into your financial health with a personalized dashboard.</p>
        <ul>
          <li><strong>Data Analytics:</strong> Track your spending, debt obligations, and income flow to recieve real-time financial health reports.</li>
          <li><strong>Visualize Your Progress:</strong> Utilize charts, graphs, and a badge rewards system to visualize and reward your progress.</li>
          <li><strong>What-if Analysis: </strong> Explore possible future financial scenarios with our <i>What-If</i> analysis tool, offering a clearer view of how today's choices can shape your financial future.</li>
        </ul>
      </div>
    </div>

  </div>
</section>