<section id="problem-char" class="content-section feature-section">
    <h1>Problem Characteristics</h1>

    <!--Section Content Wrapper-->
    <div class="section-content">

      <!--Image Text Block 1-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/prob-char-img-2.webp">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>Financial Literacy</h2>
          <p>A lack of financial literacy contributes to growing debt and confusion for young adults, including:</p>
          <ul>
            <li>Difficulty creating a realistic budget.</li>
            <li>Uncertainty about where their money is going.</li>
            <li>Struggles with prioritizing expenses.</li>
            <li>Lack of understanding about how late payments affect their financial future.</li>
          </ul>
        </div>
      </div>

      <!--Image Text Block 2-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/prob-char-img-3.webp">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>A Lack of Options</h2>
          <p>A Lack of well-rounded financial options results in issues such as:</p>
          <ul>
            <li>Relying on multiple seperate financial apps to manage finances.</li>
            <li>Increased difficulty staying organized, making financial management harder than it should be.</li>
            <li>A blurred vision of long-term financial goals.</li>
          </ul>
        </div>
      </div>

      <!--Image Text Block 3-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/problem-char-img-3.webp">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>Forgotten Payments</h2>
          <p>Forgotten monthly payments lead to a range of life-altering issues, including:</p>
          <ul>
            <li>Rising interest rates.</li>
            <li>Late fees and penalties.</li>
            <li>A declining credit score.</li>
            <ul>
              <li>Difficulty making significant purchases.</li>
            </ul>
            <li>Additional time required to pay off debt.</li>
            <li>Negative impacts on physical and mental health.</li>
          </ul>
        </div>

      </div>

    </div>
  </section>