<section id="solution-char" class="content-section feature-section">
    <h1>How CreditTrax Will Help</h1>

    <!--Section Content Wrapper-->
    <div class="section-content">

      <!--Image Text Block 1-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/solution-char-img-2.webp" alt="Debt-Tracking">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>Debt Tracking</h2>
          <p>CreditTrax provides users with a clear and organized view of their financial obligations. 
            Empowering them to take control over their debt.</p>
          <ul>
            <li><strong>All Your Debts in One Place:</strong> Keep track of all your debts conviently in one app.</li>
            <li><strong>Input Your Debts:</strong> Easily add credit card balances, student loans, interest rates, and due dates.</li>
            <li><strong>Smart Payment Reminders:</strong> Receive timely manual payment prompts, with increasing reminders to ensure you never miss a due date.</li>
          </ul>
        </div>
      </div>

      <!--Image Text Block 2-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/solution-char-img-1.webp">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>Budgeting Recommendations</h2>
          <p>CreditTrax provides helpful suggestions and tips to keep you on track for financial sucess!</p>
          <ul>
            <li><strong>AI-Powered Guidance:</strong> Receive personalized recommendations based on your unique debt and spending habits.</li>
            <li><strong>Tailored Suggestions:</strong> Analyzes your income, expenses, and debt obligations for optimized budgeting advice.</li>
            <li><strong>Smart Spending:</strong> Learn where unnecessary expenses are coming from so you can better fund a succesful future.</li>
          </ul>
        </div>
      </div>

      <!--Image Text Block 3-->
      <div class="image-text-block">

        <!--Image Content-->
        <div class="image-content">
          <img src="./assets/images/main-content/solution-char-img-3.webp">
        </div>

        <!--Text Content-->
        <div class="text-content">
          <h2>Personal Finance Dashboard</h2>
          <p>CreditTrax provides a clear window into your financial health with a personalized dashboard.</p>
          <ul>
            <li><strong>Data Analytics:</strong> Track your spending, debt obligations, and income flow to recieve real-time financial health reports.</li>
            <li><strong>Visualize Your Progress:</strong> Utilize charts, graphs, and a badge rewards system to visualize and reward your progress.</li>
            <li><strong>What-if Analysis: </strong> Explore possible future financial scenarios with our <i>What-If</i> analysis tool, offering a clearer view of how today's choices can shape your financial future.</li>
          </ul>
        </div>
      </div>

    </div>
  </section>