<section id="solution-statement" class="content-section image-text">

    <!--Section Content Wrapper-->
    <div class="section-content">

      <!--Image Content-->
      <div class="image-content">
        <img src="./assets/images/main-content/solution-statement-img.webp">
      </div>

      <!--Text Content-->
      <div class="text-content">
        <h1>The Solution: CreditTrax</h1>
        <P>CreditTrax leverages AI-powered budgeting through personalized financial 
          dashboards and interactive tools to help users align their spending with 
          long-term financial goals while making smarter financial decisions.
        </P>
        <P>By analyzing spending habits, sending real-time notifications, 
          and offering comprehensive financial literacy tools, CreditTrax enables 
          young adults to achieve their financial objectives, track their 
          progress, and reduce the stress and anxiety that often comes with managing debt.
      </P>
      </div>

    </div>
  </section>