<section id="team-section" style="background-image: url('./assets/images/main-content/team-background.webp');">

    <!--Team Content Wrapper-->
    <div id="team-content">
      <h1>Meet The Team!</h1>

      <!--Image Grid-->
      <div class="image-grid">

        <!--Darrick Allen-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/darrick.webp" alt="Darrick Allen">

          <!--Description Box-->
          <div class="team-description-box">
            <h3>Darrick Allen</h3>
            <h5>Webmaster / Frontend Developer</h5>
            <p>Darrick is currently a senior at Old Dominion University pursuing his BS in Computer Science with a minor in Cybersecurity.
              In his free time, he likes to play guitar, games, and of course code.
              Has experience in C++, Java, Python, and is currently brushing up on his HTML/CSS.
            </p>
          </div>
        </div>

        <!--Brian Nguyen-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/brian.webp" alt="Brian Nguyen">

          <!--Description-->
          <div class="team-description-box">
            <h3>Brian Nguyen</h3>
            <h5>Project Lead</h5>
            <p>Brian is a senior majoring in Computer Science with a minor in Cybersecurity at Old Dominion University.  
              He likes to learn about cars, zoology, and history.  He also plays video games and watch movies.  
              Brian has experience in C++, Java, Unix, and dabbled into other languages.  
            </p>
          </div>
        </div>

        <!--Bryce Johnson-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/bryce.webp" alt="Bryce Johnson">

          <!--Description-->
          <div class="team-description-box">
            <h3>Bryce Johnson</h3>
            <h5>Database Specialist</h5>
            <p>Bryce is a senior at Old Dominion University, majoring in computer science, and works full-time as a network engineer. 
              In his free time, he enjoys watching sports, spending time with family and friends, and taking care of 
              his Norwegian Elkhound named Loki. His technical skills are primarily in networking and system administration, 
              but he also has proficiency in coding with Java and C++.
            </p>
          </div>
        </div>

        <!--Erika Andrade-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/erika.png" alt="Erika Andrade">

          <!--Description-->
          <div class="team-description-box">
            <h3>Erika Andrade</h3>
            <h5>Backend Developer</h5>
            <p>Erika is currently a senior majoring in Computer Science with a strong passion for technology and creativity. 
              As a self-taught piano player, she enjoys playing music in her free time. Additionally, she's been a long time fan of video games, 
              particularly <i>The Sims</i> franchise. Her technical skills include proficiency in C++ and Java with some experience in Python.
            </p>
          </div>
        </div>

        <!--Josh Martin-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/josh.webp" alt="Josh Martin">

          <!--Description-->
          <div class="team-description-box">
            <h3>Josh Martin</h3>
            <h5>Backend Developer</h5>
            <p>Josh is a senior majoring in Computer Science at Old Dominion University, with a minor in Cybersecurity.
              Currently an employee at Riverside Regional Medical Center, and is looking to move into either Software Development or IT in the medical field.
              Has experience programming in C++, Java, Python, and is currently learning Rust on the side.
            </p>
          </div>
        </div>

        <!--Smit Dalia-->
        <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/smit.webp" alt="Smit Dalia">

          <!--Description-->
          <div class="team-description-box">
            <h3>Smit Dalia</h3>
            <h5>Documentation Specialist</h5>
            <p>Smit is a senior majoring in Computer Science at Old Dominion University. 
              In his free time, he enjoys playing cricket and watching anime. 
              He has experience in Python, C++, and Java, along with some exposure to other programming languages.
              He is particularly eager to dive deeper into artificial intelligence and machine learning in the future.
            </p>
          </div>
        </div>
        
         <!--Indi Monson-->
         <div class="team-image-frame">

          <!--Image-->
          <img src="./assets/images/team/indi.webp" alt="Indi Monson">

          <!--Description-->
          <div class="team-description-box">
            <h3>Indi Monson</h3>
            <h5>Backend Developer</h5>
            <p>Indi is a senior majoring in Computer Science at Old Dominion University.
              She lives in Hawaii and enjoys playing video games, hiking, swimming, and scuba diving.
              She has experience in C++, Java, and dabbles in a couple of other programming languages.
            </p>
          </div>
        </div>
        
      </div>
    </div>
  </section>