<section id="user-stories" class="document-block">
    <h2>User Stories</h2>

    <h3 style="text-align: left; margin-left: 20px;">As a <strong>Young Adult</strong>, I would like to:</h3>

    <ol>
        <h4 style="text-align: left; margin-left: 20px;"><strong>Financial Dashboard</strong></h4>
        <ul>
            <li>
                Track my financial goals using a personalized dashboard so that I can stay motivated and reduce financial stress.
            </li>
        </ul>

        <h4 style="text-align: left; margin-left: 20px;"><strong>What-If Analysis</strong></h4>
        <ul>
            <li>
                Run a "what-if" analysis on my debt repayment strategies so that I can understand the long-term impact of different financial decisions. 
            </li>
            <li>
                Use an algorithmic what-if analysis for simple financial scenarios.
            </li>
            <li>
                Use AI to analyze and generate recommendations based on results of an algorithmic what-if analysis.
            </li>
        </ul>

        <h4 style="text-align: left; margin-left: 20px;"><strong>Debt Tracking</strong></h4>
        <ul>
            <li>
                Create a debt source with source name, amount due, interest rate, term length, and more
            </li>
            <li>
                Edit a debt source with source name, amount due, interest rate, term length, and more
            </li>
            <li>
                Delete a debt source
            </li>
            <li>
                Receive reminders for my payment due dates, so that I never miss a payment and avoid late fees.
            </li>
            <li>
                Add, edit, and delete new debt transaction
            </li>
            <li>
                See all my debt information condensed into one easily-accessible place.
            </li>
            <li>
                Confirm payment of a debt in the app once I paid the actual source in real life.
            </li>
        </ul>

        <h4 style="text-align: left; margin-left: 20px;"><strong>AI-Assisted Budgeting</strong></h4>
        <ul>
            <li>
                Receive AI-driven budgeting suggestions, so that I can optimize my spending and savings based on my financial situation.
            </li>
            <li>
                Create a budget without the use of AI if I don't want to use it.
            </li>
        </ul>

        <h4 style="text-align: left; margin-left: 20px;"><strong>Community/Groups</strong></h4>
        <ul>
            <li>
                Create a group with friends.
            </li>
            <li>
                Join a community/group with other people, my educator, or my personal finance partner.
            </li>
        </ul>

        <h4 style="text-align: left; margin-left: 20px;"><strong>Gamification</strong></h4>
        <ul>
            <li>
                Earn achievements for handling my finances.
            </li>
            <li>
                Stay on track of my finances through goals.
            </li>
        </ul>
    </ol>

    <h3 style="text-align: left; margin-left: 20px;">As a <strong>Tester</strong>, I would like to:</h3>
    <ol>
        <ul>
            <li>
                Verify that the personal financial dashboard correctly visualizes user spending and debt progress so that the data is accurately represented.
            </li>
            <li>
                Test the Ai-powered recommendations to ensure that they are relevant and helpful for different financial situations.
            </li>
            <li>
                Validate that the “what-if” analysis accurately calculates projected financial outcomes based on different inputs.
            </li>
            <li>
                Simulate various user behaviors to ensure that the app provides appropriate alerts.
            </li>
        </ul>
    </ol>
  </section>