<section id="weekly-reports" class="document-block">
    <h2>Weekly Reports</h2>
        <ul class="lab-grid">
            <!-- Place ./assets/pdf/labs/your-lab-name.pdf into the link -->
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-1.pdf" download="report-1.pdf">Report 1</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-2.pdf" download="report-2.pdf">Report 2</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-3.pdf" download="report-3.pdf">Report 3</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-4.pdf" download="report-4.pdf">Report 4</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-5.pdf" download="report-5.pdf">Report 5</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-6.pdf" download="report-6.pdf">Report 6</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-7.pdf" download="report-7.pdf">Report 7</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-8.pdf" download="report-8.pdf">Report 8</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-9.pdf" download="report-9.pdf">Report 9</a></li>
            <li><a class="single-lab-button" href="./assets/pdf/reports/report-10.pdf" download="report-10.pdf">Report 10</a></li>
        </ul>
</section>
