
/* Main content styling */
.restricted-width {
    max-width: 840px; 
    margin: 0 auto; /* Center the content */
}

/* General section styling */
.content-section {
    padding-top: 20px; /* Adding some top padding for spacing */
}

.section-content {
    display: flex; /* Flexbox layout to arrange section items in a row */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #FFFFFF;
    gap: 20px; /* Set 20px of spacing between flexbox items */
    padding: 15px;
}

/* Image content styling */
.image-content {
    display: flex;
    flex: 0 0 30%; /* Will not grow, shrink, and will attempt to take up 30% of section-content's width */
    align-items: flex-end; /* Set the image container at the bottom of the section-content */
    justify-content: center; /* Center the image horizontally */
}

.image-content img {
    object-fit: contain; /* Ensure images inside of image-content are fully contained */
    max-width: 100%;
    max-height: 300px;
}

.text-content {
    flex: 1; /* container will grow and shrink based on avaliable space */
    background-color: #F9F9F9;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}


/* Feature Section Styling */
.feature-section {
    padding: 20px;
    text-align: center;
}

.feature-section img {
    max-height: 200px;
}

.image-text-block {
    display: flex;
    flex-direction: column; /* Stack items in a column */
    flex: 1 1 30%; 
    gap: 10px; /* 10px of space between image and text blocks */
}
 

/* Google Slide Styling */
#google-slides {
    text-align: center;
}

/* Carousel for Google Slide Presentations */
.carousel {
    display: flex;
    overflow-x: auto; /*Allow for horizontal deck scrolling */
    scroll-snap-type: x mandatory; /* Mandatory snapping on x-axis (We don't want to be stuck in the middle of a deck */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* Smoother scrolling for mobile users */
}

.slide {
    flex: 0 0 100%;
    width: 100%;
    scroll-snap-align: start;
}
.slide h2 {
    margin-bottom: 10px;
}

/* Scroll bar properties */
.carousel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 8px;
}

/* Container for Our Slide Presentations */
.iframe-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-bottom: 56.25%; /* Maintains 16:9 aspect ratio*/
}

/* The Presentation Slides */
.iframe-container iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
}

/* Circle navigation indicators under the carousel */
.carousel-nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.carousel-nav a {
    background-color: #cccccc;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
}

.carousel-nav a:focus {
    background-color: #333333; /* Change of color for when in focus */
}


/*Reference Section Styling*/
#references {
    max-width: 95%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.reference-link {
    display: block;
    margin-left: 5%;
}

#references ol li {
    margin-bottom: 20px;
}