

/* Nav Bar Styling */
.nav-bar {
    position: fixed; /* Keep nav-bar on screen while scrolling */
    background: linear-gradient(90deg, #2e865b, #256fb9); /* Gradient coloring*/
    width: 100%; /* Nav bar should stretch the entire screen */
    top: 0; /* Position nav bar at top */
    margin: 0; padding: 0;
    list-style-type: none; /* Remove list styling */
    z-index: 5; /* Nav bar should always be on the top layer and not covered */
}

.nav-bar li {
    float: left; /* Aligns list items horizontally from left to right */
    position: relative; /* Allows child elements to be positioned absolutely relative to this parent */
}

.nav-bar li a {
    display: block; /* Give each link block formatting */
    color: #FFFFFF;
    padding: 14px 16px; /* Vertical and horizontal padding */
    text-decoration: none; /* No default underline under the links */
}

.nav-bar li a:hover {
    background-color: #008080; /* Background color on hover */
}

/* Nav bar dropdown styling */
.dropdown {
    position: absolute; /* Relative to its li parent */
    display: none; /* Hides this dropdown initially */
    min-width: 150px; 
    background: #ffffff; 
    margin: 0; padding: 0; /* Removes default margin and padding */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds some shadow around the container */
    list-style-type: none; /* Removes default list styling */
    z-index: 5; /* Ensures the container is always layered on top */
}

.nav-bar li:hover .dropdown {
    display: block; /* Makes the dropdown visible when hovering over its parent li */
}

.dropdown li {
    width: 100%; /* dropdown items will take the whole width of their parent*/
}

.dropdown li a {
    padding: 8px 12px; /* Vertical and horizontal padding around dropdown links */
    color: #333333; 
    text-decoration: none; /* Removes default underline from links */
    white-space: nowrap; /* Text will not wrap to the next line */
    text-overflow: ellipsis; /* Display '...' for overflowing text */
}

.dropdown li a:hover {
    background-color: rgba(0,0,0,0.1); /* Slight change to background color on hover */
    border-radius: 4px;
}