
/* Header Styling */
.custom-header {
    background-size: cover; /* Background image should adjust to cover the entire header */
    background-position: center;
    background-repeat: no-repeat; /* Ensure no repeating image pattern */
    display: flex; 
    justify-content: center;
    height: 100vh; /* Cover the entire view height */
    margin-top: 52px; /* Margin adjustment for the nav-bar */
}

.header-content {
    text-align: center;
    max-width: 90%; /* limit content to 90% width of the screen */
    padding-top: 6vh; /* Padding from the top of the header */
}

#title {
    display: inline-block; /* We don't want the title to take the entire width of the header-content */
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 3.5rem;
    color: #000000;
    background-color: rgba(255, 237, 0, 0.23); /* Give the title a yellow highlight with reduced opacity */
    border-radius: 10px; /* Give the yellow highlight curved corners */
    margin-bottom: 0;
}

#tagline {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 0.6rem;
}


.btn {
    /* Set up left sliding gradient effect on hover */
    background-image: linear-gradient(to right, #2e865b, #256fb9, #0066cc); /* background color for the button */
    background-size: 300% 100%; /* Make the gradient 3 times wider and the same height as the button */
    background-position: 100% 0; /* set inital background position all the way to the right*/
    transition: all 0.5s ease; /* Set slide effect to ease in over specified time */
    padding: 0.4rem 1.1rem; 
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    color: #ffffff;
    background-position: 0 0; /* Adjust position of the background on hover for gradient effect*/
}