<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <!--Importing Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@400;700&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>

  <!--SITE BODY-->
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <!-- NAVIGATION BAR-->
    <nav>
      <ul class="nav-bar">

        <!--Home-->
        <li><a href="#">Home</a></li>

        <!--About-->
        <li>
          <a href="#">About</a>
          <ul class="dropdown">
            <li><a href="#problem-statement">The Problem</a></li>
            <li><a href="#solution-statement">The Solution</a></li>
            <li><a href="#team-section">The Team</a></li>
          </ul>
        </li>

        <!--Presentations-->
        <li>
          <a href="#google-slides">Presentations</a>
          <ul class="dropdown">
            <li><a href="#feasibility-1">Feasibility 1</a></li>
            <li><a href="#feasibility-2">Feasibility 2</a></li>
            <li><a href="#feasibility-3">Feasibility 3</a></li>
            <li><a href="#final-feasibility">Final Feasibility</a></li>
          </ul>
        </li>

        <!--References Section-->
        <li><a href="#references">References</a></li>

        <!--Deliverables Placeholder-->
        <li><a href="#">Deliverables</a></li>

      </ul>
    </nav>

    <!--SITE HEADER-->
    <header class="custom-header" role="banner" style="background-image: url('./assets/images/main-content/banner.webp');">
      <div class="header-content">

          <h1 id="title">CreditTrax</h1>
          <h2 id="tagline">Empowering young professionals for financial Success</h2>

          <!--Github Button-->
          <div class="header-buttons">
              {% if site.github.is_project_page %}
                  <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
              {% endif %}
              {% if site.show_downloads %}
                  <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
                  <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
              {% endif %}
          </div>

      </div>
    </header>
  
    <!--MAIN CONTENT AREA-->
    <main id="content" class="main-custom" role="main">

      <!--PROBLEM STATEMENT SECTION-->
      <section id="problem-statement" class="content-section image-text">

        <!--Section Content Wrapper-->
        <div class="section-content">

          <!--Image Content-->
          <div class="image-content">
            <img src="./assets/images/main-content/problem-char-img.webp">
          </div>

          <!--Text Content-->
          <div class="text-content">
            <h1>Our Problem Statement</h1>
            <p>Many young professionals in the U.S. struggle with their finances
               due to the overwhelming burden of student loans,
                ever increasing credit rates,
                 and a lack of experience with crucial financial skills.</p>
            <p>
              Balancing the pressures of starting a career while facing financial uncertainty leads to the accumulation of debt,
               increased anxiety, and delayed life milestones such as marriage,
                home ownership, and starting a family.
            </p>
            <p>
              CreditTrax aims to empower young professionals with personalized budgeting and debt management tools designed to simplify
               financial decisions, enhance financial literacy, and set young professionals back on track for financial success.
            </p>

          </div>
        </div>
      </section>

      <!--PROBLEM CHARACTERISTICS SECTION-->
      <section id="problem-char" class="content-section feature-section">
        <h1>Problem Characteristics</h1>

        <!--Section Content Wrapper-->
        <div class="section-content">

          <!--Image Text Block 1-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/prob-char-img-2.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>Financial Literacy</h2>
              <p>A lack of financial literacy contributes to growing debt and confusion for young professionals, including:</p>
              <ul>
                <li>Difficulty creating a realistic budget.</li>
                <li>Uncertainty about where their money is going.</li>
                <li>Struggles with prioritizing expenses.</li>
                <li>Lack of understanding about how late payments affect their financial future.</li>
              </ul>
            </div>
          </div>

          <!--Image Text Block 2-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/prob-char-img-3.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>A Lack of Options</h2>
              <p>A Lack of well-rounded financial options results in issues such as:</p>
              <ul>
                <li>Relying on multiple seperate financial apps to manage finances.</li>
                <li>Increased difficulty staying organized, making financial management harder than it should be.</li>
                <li>A blurred vision of long-term financial goals.</li>
              </ul>
            </div>
          </div>

          <!--Image Text Block 3-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/problem-char-img-3.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>Forgotten Payments</h2>
              <p>Forgotten monthly payments can lead to accumulating debt and penalites, including:</p>
              <ul>
                <li>Rising interest rates.</li>
                <li>Late fees and penalties.</li>
                <li>A declining credit score.</li>
                <ul>
                  <li>Difficulty making significant purchases.</li>
                </ul>
                <li>Additional time needed to pay off debt.</li>
              </ul>
            </div>

          </div>

        </div>
      </section>

      <!--SOLUTION STATEMENT SECTION-->
      <section id="solution-statement" class="content-section image-text">

        <!--Section Content Wrapper-->
        <div class="section-content">

          <!--Image Content-->
          <div class="image-content">
            <img src="./assets/images/main-content/solution-statement-img.webp">
          </div>

          <!--Text Content-->
          <div class="text-content">
            <h1>The Solution: CreditTrax</h1>
            <P>A smartphone app that simplifies financial management by combining debt tracking,
              AI-driven budgeting suggestions, and visual tools to help users see their progress.
            </P>
            <P>With timely payment reminders and personalized advice, 
              CreditTrax helps users stay on top of their bills while forming smarter
              financial habits. 
          </P>
          </div>

        </div>
      </section>

      <!--SOLUTION CHARACTERISTICS SECTION-->
      <section id="solution-char" class="content-section feature-section">
        <h1>How CreditTrax Will Help</h1>

        <!--Section Content Wrapper-->
        <div class="section-content">

          <!--Image Text Block 1-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/solution-char-img-1.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>Finance Simplified</h2>
              <p>Designed to give users a clear, organized view of their financial obligations.</p>
            </div>
          </div>

          <!--Image Text Block 2-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/solution-char-img-2.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>All Your Debts in One Place</h2>
              <p>Users can input all their debts e.g. credit card balances and student 
                loans along with their respective interest rates and due dates.</p>
            </div>
          </div>

          <!--Image Text Block 3-->
          <div class="image-text-block">

            <!--Image Content-->
            <div class="image-content">
              <img src="./assets/images/main-content/solution-char-img-3.webp">
            </div>

            <!--Text Content-->
            <div class="text-content">
              <h2>Never Forget a Payment</h2>
              <p>Prompts the user to manually approve payment of a debt, and if they 
                neglect to do so, the app will issue increasing reminders.</p>
            </div>
          </div>

        </div>
      </section>

      <!--GOOGLE SLIDE PRESENTATIONS-->
      <section id="google-slides" class="restricted-width">
        <h1>Presentations</h1>

        <!--Carousel for Presentation Slides-->
        <div class="carousel">

          <!--Feasibility 1 Slide-->
          <div id="feasibility-1" class="slide">
            <h2>Feasibility 1</h2>

            <!--PDF Download Link for Feasibility 1-->
            <a href="./assets/pdf/feasibility-1.pdf" download="feasibility-1.pdf">Download Feasibility-1.pdf</a>

            <div class="iframe-container">
              <iframe src="https://docs.google.com/presentation/d/14EV9t-ML2qn7bMKBXpXU3QRP4RzRVhHBQlDXNW9LKe0/embed?start=false&loop=false&delayms=3000"
                frameborder="0" allowfullscreen="true" 
                mozallowfullscreen="true" webkitallowfullscreen="true">
              </iframe>
            </div>
          </div>

          <!--Feasibility 2 Slide-->
          <div id="feasibility-2" class="slide">
            <h2>Feasibility 2</h2>

            <!--PDF Download Link for Feasibility 2-->
            <a href="./assets/pdf/feasibility-2.pdf" download="feasibility-2.pdf">Download feasibility-2.pdf</a>

            <div class="iframe-container">
              <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT8jnOdu0sk3YKkhcM3FaZNAZAAvVH7xGw2uyjP-wgNHbuV1KaLUhJJKZGC9Nh6wYNgsXRsILgnlIeS/embed?start=false&loop=false&delayms=3000" 
              frameborder="0" allowfullscreen="true" 
              mozallowfullscreen="true" webkitallowfullscreen="true">
              </iframe>
            </div>
          </div>

          <!--Feasibility 3 Slide-->
          <div id="feasibility-3" class="slide">
            <h2>Feasibility 3</h2>

            <!--PDF Download Link for Feasibility 3-->
            <a href="./assets/pdf/feasibility-3.pdf" download="feasibility-3.pdf">Download feasibility-3.pdf</a>

            <div class="iframe-container">
              <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSHAPNj3nlat93OxzE_IaVYeSHbqlI0LvjyWYz-gZ5Cwsb2Wag3MVHHNJwE5t6nQC6CvxyDRL3mEy4d/embed?start=false&loop=false&delayms=3000" 
              frameborder="0" allowfullscreen="true" 
              mozallowfullscreen="true" webkitallowfullscreen="true">
              </iframe>
            </div>
          </div>

          <!--Final Feasibility Slide-->
          <div id="final-feasibility" class="slide">
            <h2>Final Feasibility</h2>
            <div class="iframe-container">
              <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRz5YXGWOFOrLctIxDxrAgLV7eeTce8oM9Dtdos3o25DepZqda4wlH6pZ2IHuNAWuy-4USWpZvH4Pkp/embed?start=false&loop=false&delayms=3000" 
              frameborder="0" allowfullscreen="true"
              mozallowfullscreen="true" webkitallowfullscreen="true">
              </iframe>
            </div>
          </div>

        </div>

        <!--Navigation Indicators for The Carousel-->
        <div class="carousel-nav">
          <a href="#feasibility-1"></a>
          <a href="#feasibility-2"></a>
          <a href="#feasibility-3"></a>
          <a href="#final-feasibility"></a>
        </div>
      </section>

      <!--TEAM BIO SECTION-->
      <section id="team-section" style="background-image: url('./assets/images/main-content/team-background.webp');">

        <!--Team Content Wrapper-->
        <div id="team-content">
          <h1>Meet The Team!</h1>

          <!--Image Grid-->
          <div class="image-grid">

            <!--Darrick Allen-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/darrick.webp" alt="Darrick Allen">

              <!--Description Box-->
              <div class="team-description-box">
                <h3>Darrick Allen</h3>
                <h5>Webmaster / Frontend Developer</h5>
                <p>Darrick is currently a senior at Old Dominion University pursuing his BS in Computer Science with a minor in Cybersecurity.
                  In his free time, he likes to play guitar, games, and of course code.
                  Has experience in C++, Java, Python, and is currently brushing up on his HTML/CSS.
                </p>
              </div>
            </div>

            <!--Brian Nguyen-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/brian.webp" alt="Brian Nguyen">

              <!--Description-->
              <div class="team-description-box">
                <h3>Brian Nguyen</h3>
                <h5>Project Lead</h5>
                <p>Brian is a senior majoring in Computer Science with a minor in Cybersecurity at Old Dominion University.  
                  He likes to learn about cars, zoology, and history.  He also plays video games and watch movies.  
                  Brian has experience in C++, Java, Unix, and dabbled into other languages.  
                </p>
              </div>
            </div>

            <!--Bryce Johnson-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/bryce.webp" alt="Bryce Johnson">

              <!--Description-->
              <div class="team-description-box">
                <h3>Bryce Johnson</h3>
                <h5>Database Specialist</h5>
                <p>Bryce is a senior at Old Dominion University, majoring in computer science, and works full-time as a network engineer. 
                  In his free time, he enjoys watching sports, spending time with family and friends, and taking care of 
                  his Norwegian Elkhound named Loki. His technical skills are primarily in networking and system administration, 
                  but he also has proficiency in coding with Java and C++.
                </p>
              </div>
            </div>

            <!--Erika Andrade-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/erika.webp" alt="Erika Andrade">

              <!--Description-->
              <div class="team-description-box">
                <h3>Erika Andrade</h3>
                <h5>Backend Developer</h5>
                <p>Erika is currently a senior majoring in Computer Science with a strong passion for technology and creativity. 
                  As a self-taught piano player, she enjoys playing music in her free time. Additionally, she's been a long time fan of video games, 
                  particularly <i>The Sims</i> franchise. Her technical skills include proficiency in C++ and Java with some experience in Python.
                </p>
              </div>
            </div>

            <!--Josh Martin-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/josh.webp" alt="Josh Martin">

              <!--Description-->
              <div class="team-description-box">
                <h3>Josh Martin</h3>
                <h5>Backend Developer</h5>
                <p>Josh is a senior majoring in Computer Science at Old Dominion University, with a minor in Cybersecurity.
                  Currently an employee at Riverside Regional Medical Center, and is looking to move into either Software Development or IT in the medical field.
                  Has experience programming in C++, Java, Python, and is currently learning Rust on the side.
                </p>
              </div>
            </div>

            <!--Smit Dalia-->
            <div class="team-image-frame">

              <!--Image-->
              <img src="./assets/images/team/smit.webp" alt="Smit Dalia">

              <!--Description-->
              <div class="team-description-box">
                <h3>Smit Dalia</h3>
                <h5>Documentation Specialist</h5>
                <p>Smit is a senior majoring in Computer Science at Old Dominion University. 
                  In his free time, he enjoys playing cricket and watching anime. 
                  He has experience in Python, C++, and Java, along with some exposure to other programming languages.
                  He is particularly eager to dive deeper into artificial intelligence and machine learning in the future.
                </p>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!--REFERENCES SECTION-->
      <section id="references">
        <h2>References</h2>

        <ol>
          <!--Reference 1-->
          <li>
            “US External Debt, 2003 – 2023 | CEIC Data.” CEIC Data,
            <a href="https://www.ceicdata.com/en/indicator/united-states/external-debt" class="reference-link">
              www.ceicdata.com/en/indicator/united-states/external-debt/.
            </a>
          </li>

          <!--Reference 2-->
          <li>
            Horymski, Chris. “Consumer Credit Card Report.” Experian, 4 Nov. 2019,
            <a href="https://www.experian.com/blogs/ask-experian/state-of-credit-cards/" class="reference-link">
              www.experian.com/blogs/ask-experian/state-of-credit-cards/.
            </a>
          </li>

          <!--Reference 3-->
          <li>
            “How to Get out of Debt.” Consumer Advice, 1 Mar. 2018, 
            <a href="https://consumer.ftc.gov/articles/how-get-out-debt" class="reference-link">
              consumer.ftc.gov/articles/how-get-out-debt.
            </a>
          </li>

          <!--Reference 4-->
          <li>
            Suknanan, Elizabeth, and Gravier, Jasmin. “Mint Is Gone — Here Are Some Alternative Budget Apps to Consider.” CNBC, 9 Jul. 2024,
            <a href="https://www.cnbc.com/select/mint-budgeting-app-is-going-away-here-are-some-alternatives/" class="reference-link">
              www.cnbc.com/select/mint-budgeting-app-is-going-away-here-are-some-alternatives/.
            </a>
          </li>

          <!--Reference 5-->
          <li>
            Rademacher, Ida, and Genevieve Melford.  “Young Adults and Consumer Debt:  The Quiet Crisis Next Time”.  New America,
            <a href="https://www.newamerica.org/millennials/reports/emerging-millennial-wealth-gap/young-adults-and-consumer-debt-the-quiet-crisis-next-time/" class="reference-link">
              www.newamerica.org/millennials/reports/emerging-millennial-wealth-gap/young-adults-and-consumer-debt-the-quiet-crisis-next-time/.
            </a>
          </li>

          <!--Reference 6-->
          <li>
            Martincheck, Kassandra, and Miranda Santillo.  “Many Young Adults Have Take on Debt.  It Could Jeopardize Their Financial Futures”.  Urban Institute, 18 Sept. 2024
            <a href="https://www.urban.org/urban-wire/many-young-adults-have-taken-debt-it-could-jeopardize-their-financial-futures#:~:text=Young%20adults%20who%20don%27t,by%20up%20to%20100%20points." class="reference-link">
              www.urban.org/urban-wire/many-young-adults-have-taken-debt-it-could-jeopardize-their-financial-futures#:~:text=Young%20adults%20who%20don%27t,by%20up%20to%20100%20points.
            </a>
          </li>

          <!--Reference 7-->
          <li>
            Safier, Rebecca, and Ashley Harrison. “Student Loan Debt: Averages and Other Statistics in 2023.” USA TODAY Blueprint, 7 Sept. 2023,
            <a href="https://www.usatoday.com/money/blueprint/student-loans/average-student-loan-debt-statistics/" class="reference-link">
              www.usatoday.com/money/blueprint/student-loans/average-student-loan-debt-statistics/.
            </a>
          </li>

          <!--Reference 8-->
          <li>
            Gravier, Elizabeth. Remind yourself of ‘what makes you happy’: Blogger shares her advice about battling debt and depression, 11 Jan. 2024,
            <a href="https://www.cnbc.com/select/debt-and-mental-health/" class="reference-link">
              www.cnbc.com/select/debt-and-mental-health/.
            </a>
          </li>

          <!--Reference 9-->
          <li>
            Consumer Credit - G.19, U.S. Federal Reserve, 9 Sept. 2024,
            <a href="https://www.federalreserve.gov/releases/g19/HIST/cc_hist_memo_levels.html" class="reference-link">
              www.federalreserve.gov/releases/g19/HIST/cc_hist_memo_levels.html.
            </a>
          </li>

          <!--Reference 10-->
          <li>
            Chernikoff, Sara. How are college costs adding up these days and how much has tuition risen? Graphics explain, USA TODAY, 18 Apr. 2024, 
            <a href="https://www.usatoday.com/story/news/education/2024/04/18/college-tuition-costs-graphics/73347491007/" class="reference-link">
              www.usatoday.com/story/news/education/2024/04/18/college-tuition-costs-graphics/73347491007/.
            </a>
          </li>

          <!--Reference 11-->
          <li>
            Rugaber, Christopher. U.S. inflation at 9.1 percent, a record high, PBS News, 13 July 2022,
            <a href="https://www.pbs.org/newshour/economy/u-s-inflation-at-9-1-percent-a-record-high" class="reference-link">
              www.pbs.org/newshour/economy/u-s-inflation-at-9-1-percent-a-record-high.
            </a>
          </li>

          <!--Reference 12-->
          <li>
            Martinez, Dan, and Margaret Seikel. Credit card interest rate margins at all-time high, Consumer Finance, 22 Feb. 2024,
            <a href="https://www.consumerfinance.gov/about-us/blog/credit-card-interest-rate-margins-at-all-time-high/" class="reference-link">
              www.consumerfinance.gov/about-us/blog/credit-card-interest-rate-margins-at-all-time-high/.
            </a>
          </li>

          <!--Reference 13-->
          <li>
            Winters, Mike. The 10 U.S. places with the highest cost of living—No. 1 costs more than double the national average, CNBC, 29 June 2024,
            <a href="https://www.cnbc.com/2024/06/29/us-highest-cost-of-living.html" class="reference-link">
              www.cnbc.com/2024/06/29/us-highest-cost-of-living.html.
            </a>
          </li>

          <!--Reference 14-->
          <li>
            National Institute of Standards and Technology. NIST Cybersecurity Framework: A Framework for Improving Critical Infrastructure Cybersecurity. 2020,
            <a href="https://www.nist.gov/cyberframework" class="reference-link">
              www.nist.gov/cyberframework.
            </a>
          </li>

        </ol>
      </section>  

      <!--SITE FOOTER SECTION-->
      <footer class="site-footer" style="background-image: url('./assets/images/main-content/footer.webp');">

      <!--Default Footer Content-->
        <a href="https://www.odu.edu/">Old Dominion University</a> 
        <a href="https://www.cs.odu.edu/">Department of Computer Science</a>

        <!--Team Name-->
        <span class="site-footer-credits">
            Team Copper 2024
        </span>
      </footer>

    </main>
  </body>
</html>
